# IMPORTING PACKAGES & READING .csv FILES

In [2]:
import pandas as pd
import numpy as np
import sqlite3

Supplier data was missing so created a supplier.csv file. Assigning sup_id randomly to products table

In [4]:
# Load products.csv
products_df = pd.read_csv("products_wo_suppliers.csv")
    
#Load supplier IDs
suppliers_df = pd.read_csv("suppliers.csv")
sup_ids = suppliers_df["Sup_id"].tolist()
    
# Assign random Sup_id
products_df["Sup_id"] = np.random.choice(sup_ids, size=len(products_df))
    
# Reorder columns to place Sup_id after ord_id
ord_index = products_df.columns.get_loc("or_id") + 1
columns = list(products_df.columns)

# Move 'Sup_id' to the right place
columns.insert(ord_index, columns.pop(columns.index("Sup_id")))
products_df = products_df[columns]


products_df.to_csv("products.csv", index=False)

Loading files

In [6]:
cu=pd.read_csv('customers.csv')
odr=pd.read_csv('orders.csv')
prd=pd.read_csv('products.csv')
rt_rf=pd.read_csv('returns_refund.csv')
dv=pd.read_csv('delievry.csv')
rt=pd.read_csv('ratings.csv')
tra=pd.read_csv('transactions.csv')
sup=pd.read_csv('suppliers.csv')

In [7]:
cu.head()

,C_ID,C_Name,Gender,Age,City,State,Street Address,Mobile
0,CS_11000001,Manbir Lala,Male,67,Delhi,Delhi,"Park Ave, 163 , Delhi , Delhi - 529675",9607971039
1,CS_11000002,Radhika More,Female,51,Pune,Maharashtra,"Elm St, 960 , Pune , Maharashtra - 328062",9109249091
2,CS_11000003,Faqid Halder,Female,57,Bengaluru,Karnataka,"Maple St, 71 , Bengaluru , Karnataka - 574209",9129509047
3,CS_11000004,Chandresh Dugar,Female,26,Thane,Maharashtra,"2nd St, 557 , Thane , Maharashtra - 329555",9351639395
4,CS_11000005,Logan Soni,Male,24,Ghaziabad,Uttar Pradesh,"Pine St, 758 , Ghaziabad , Uttar Pradesh - 119526",9445754174

In [8]:
print('Customers:',cu.shape)
print('Orders:',odr.shape)
print('Products:',prd.shape)
print('Returns_Refund:',rt_rf.shape)
print('Delivery:',dv.shape)
print('Ratings:',rt.shape)
print('Transactions:',tra.shape)
print('Suppliers:',sup.shape)

Customers: (10184, 8)
Orders: (10000, 8)
Products: (10000, 7)
Returns_Refund: (2000, 5)
Delivery: (325, 3)
Ratings: (10000, 4)
Transactions: (10000, 4)
Suppliers: (30, 2)

In [9]:
cu.info(),odr.info(),prd.info(),rt_rf.info(),dv.info(),rt.info(),tra.info(),sup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10184 entries, 0 to 10183
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   C_ID            10184 non-null  object
 1   C_Name          10184 non-null  object
 2   Gender          10184 non-null  object
 3   Age             10184 non-null  int64
 4   City            10184 non-null  object
 5   State           10184 non-null  object
 6   Street Address  10184 non-null  object
 7   Mobile          10184 non-null  int64
dtypes: int64(2), object(6)
memory usage: 636.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Or_ID       10000 non-null  object
 1   C_ID        10000 non-null  object
 2   P_ID        10000 non-null  object
 3   Order_Date  10000 non-null  object
 4   Order_Time  10000 non-null  object
 5   Qty         10000 non-null  int64
 6   Coupon      4989 non-null   object
 7   DP_ID       10000 non-null  object
dtypes: int64(1), object(7)
memory usage: 625.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   p_id      10000 non-null  object
 1   or_id     10000 non-null  object
 2   Sup_id    10000 non-null  object
 3   pname     9986 non-null   object
 4   category  10000 non-null  object
 5   specs1    10000 non-null  object
 6   price     10000 non-null  float64
dtypes: float64(1), object(6)
memory usage: 547.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RT_ID   2000 non-null   object
 1   Or_ID   2000 non-null   object
 2   Reason  2000 non-null   object
 3   status  2000 non-null   object
 4   Date    2000 non-null   object
dtypes: object(5)
memory usage: 78.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DP_ID       325 non-null    object
 1   DP_Name     325 non-null    object
 2   DP_Ratings  303 non-null    float64
dtypes: float64(1), object(2)
memory usage: 7.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   R_ID                     10000 non-null  object
 1   Or_ID                    10000 non-null  object
 2   Prod_Rating              9978 non-null   float64
 3   Delivery_Service_Rating  9971 non-null   float64
dtypes: float64(2), object(2)
memory usage: 312.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tr_ID             10000 non-null  object
 1   Or_ID             10000 non-null  object
 2   Transaction_Mode  9967 non-null   object
 3   Tran_Status       10000 non-null  object
dtypes: object(4)
memory usage: 312.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sup_id    30 non-null     object
 1   Sup_name  30 non-null     object
dtypes: object(2)
memory usage: 612.0+ bytes

(None, None, None, None, None, None, None, None)

# Converting data into lowercase

In [11]:
def to_lowercase(df):
    df.columns = df.columns.str.lower()  # Column names to lowercase
    for col in df.select_dtypes(include='object').columns:
        df[col] = df[col].astype(str).str.lower()  # String values to lowercase
    return df

In [12]:
# Apply lowercase function
customers = to_lowercase(cu)
orders = to_lowercase(odr)
products = to_lowercase(prd)
returns_refund = to_lowercase(rt_rf)
delivery = to_lowercase(dv)
ratings = to_lowercase(rt)
transactions = to_lowercase(tra)
suppliers = to_lowercase(sup)

In [13]:
#checking for converte to lowercase
print('customers:',cu.info(),cu.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10184 entries, 0 to 10183
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   c_id            10184 non-null  object
 1   c_name          10184 non-null  object
 2   gender          10184 non-null  object
 3   age             10184 non-null  int64
 4   city            10184 non-null  object
 5   state           10184 non-null  object
 6   street address  10184 non-null  object
 7   mobile          10184 non-null  int64
dtypes: int64(2), object(6)
memory usage: 636.6+ KB
customers: None           c_id           c_name  gender  age       city          state  \
0  cs_11000001      manbir lala    male   67      delhi          delhi
1  cs_11000002     radhika more  female   51       pune    maharashtra
2  cs_11000003     faqid halder  female   57  bengaluru      karnataka
3  cs_11000004  chandresh dugar  female   26      thane    maharashtra
4  cs_11000005       logan soni    male   24  ghaziabad  uttar pradesh

                                      street address      mobile
0             park ave, 163 , delhi , delhi - 529675  9607971039
1          elm st, 960 , pune , maharashtra - 328062  9109249091
2      maple st, 71 , bengaluru , karnataka - 574209  9129509047
3         2nd st, 557 , thane , maharashtra - 329555  9351639395
4  pine st, 758 , ghaziabad , uttar pradesh - 119526  9445754174

In [14]:
print('delievry:',dv.info(),cu.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dp_id       325 non-null    object
 1   dp_name     325 non-null    object
 2   dp_ratings  303 non-null    float64
dtypes: float64(1), object(2)
memory usage: 7.7+ KB
delievry: None           c_id           c_name  gender  age       city          state  \
0  cs_11000001      manbir lala    male   67      delhi          delhi
1  cs_11000002     radhika more  female   51       pune    maharashtra
2  cs_11000003     faqid halder  female   57  bengaluru      karnataka
3  cs_11000004  chandresh dugar  female   26      thane    maharashtra
4  cs_11000005       logan soni    male   24  ghaziabad  uttar pradesh

                                      street address      mobile
0             park ave, 163 , delhi , delhi - 529675  9607971039
1          elm st, 960 , pune , maharashtra - 328062  9109249091
2      maple st, 71 , bengaluru , karnataka - 574209  9129509047
3         2nd st, 557 , thane , maharashtra - 329555  9351639395
4  pine st, 758 , ghaziabad , uttar pradesh - 119526  9445754174

In [15]:
print('suppliers\n:',sup.info(),sup.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sup_id    30 non-null     object
 1   sup_name  30 non-null     object
dtypes: object(2)
memory usage: 612.0+ bytes
suppliers
: None     sup_id               sup_name
0  sup_001   global ecom supplies
1  sup_002     primelogix traders
2  sup_003  digicart distributors
3  sup_004        urbanmarket co.
4  sup_005      ezyshop solutions

# Cleaning Data

Removing duplicate columns

In [18]:
#Removing duplicate columns
def remove_duplicate_columns(df):
    df.drop_duplicates(inplace=True)
    return df

In [19]:
# Apply remove_duplicate_columns function
customers = remove_duplicate_columns(cu)
orders = remove_duplicate_columns(odr)
products = remove_duplicate_columns(prd)
returns_refund = remove_duplicate_columns(rt_rf)
delivery = remove_duplicate_columns(dv)
ratings = remove_duplicate_columns(rt)
transactions = remove_duplicate_columns(tra)
suppliers = remove_duplicate_columns(sup)

In [20]:
#checking for duplicate values after cleaning
print('Customers duplicate:',cu.duplicated().sum())
print('orders duplicate:',odr.duplicated().sum())
print('products duplicate:',prd.duplicated().sum())
print('returns_refund duplicate:',rt_rf.duplicated().sum())
print('delivery duplicate:',dv.duplicated().sum())
print('ratings duplicate:',rt.duplicated().sum())
print('transactions duplicate:',tra.duplicated().sum())
print('suppliers duplicate:',sup.duplicated().sum())

Customers duplicate: 0
orders duplicate: 0
products duplicate: 0
returns_refund duplicate: 0
delivery duplicate: 0
ratings duplicate: 0
transactions duplicate: 0
suppliers duplicate: 0

# Checking for null values and correcting formats

Customer Table

In [23]:
print(cu.info())
print('Customers null:\n',cu.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   c_id            10000 non-null  object
 1   c_name          10000 non-null  object
 2   gender          10000 non-null  object
 3   age             10000 non-null  int64
 4   city            10000 non-null  object
 5   state           10000 non-null  object
 6   street address  10000 non-null  object
 7   mobile          10000 non-null  int64
dtypes: int64(2), object(6)
memory usage: 703.1+ KB
None
Customers null:
 c_id              0
c_name            0
gender            0
age               0
city              0
state             0
street address    0
mobile            0
dtype: int64

Orders Table

In [25]:
print(odr.info())
print('orders null:\n',odr.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   or_id       10000 non-null  object
 1   c_id        10000 non-null  object
 2   p_id        10000 non-null  object
 3   order_date  10000 non-null  object
 4   order_time  10000 non-null  object
 5   qty         10000 non-null  int64
 6   coupon      10000 non-null  object
 7   dp_id       10000 non-null  object
dtypes: int64(1), object(7)
memory usage: 625.1+ KB
None
orders null:
 or_id         0
c_id          0
p_id          0
order_date    0
order_time    0
qty           0
coupon        0
dp_id         0
dtype: int64

In [26]:
# Convert to string (in case they are not)
odr.order_date = odr.order_date.astype(str)
odr.order_time = odr.order_time.astype(str)

# Combine and convert to datetime
odr['order_datetime'] = pd.to_datetime(odr.order_date + ' ' + odr.order_time, format='mixed')
odr['month'] = odr['order_datetime'].dt.strftime('%b-%Y')
odr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   or_id           10000 non-null  object
 1   c_id            10000 non-null  object
 2   p_id            10000 non-null  object
 3   order_date      10000 non-null  object
 4   order_time      10000 non-null  object
 5   qty             10000 non-null  int64
 6   coupon          10000 non-null  object
 7   dp_id           10000 non-null  object
 8   order_datetime  10000 non-null  datetime64[ns]
 9   month           10000 non-null  object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 781.4+ KB

Products Table

In [28]:
print(prd.info())
print('orders null:\n',prd.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   p_id      10000 non-null  object
 1   or_id     10000 non-null  object
 2   sup_id    10000 non-null  object
 3   pname     10000 non-null  object
 4   category  10000 non-null  object
 5   specs1    10000 non-null  object
 6   price     10000 non-null  float64
dtypes: float64(1), object(6)
memory usage: 547.0+ KB
None
orders null:
 p_id        0
or_id       0
sup_id      0
pname       0
category    0
specs1      0
price       0
dtype: int64

Returns Refund Table

In [30]:
print(rt_rf.info())
print('returns_refund null:\n',rt_rf.isnull().sum())
rt_rf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rt_id   2000 non-null   object
 1   or_id   2000 non-null   object
 2   reason  2000 non-null   object
 3   status  2000 non-null   object
 4   date    2000 non-null   object
dtypes: object(5)
memory usage: 78.3+ KB
None
returns_refund null:
 rt_id     0
or_id     0
reason    0
status    0
date      0
dtype: int64

          rt_id        or_id              reason  status        date
0  rr_301000001  or_31004141  wrong item shipped  return  08-04-2023
1  rr_301000002  or_31008145       late delivery  refund  13-05-2024
2  rr_301000003  or_31005212  wrong item shipped  return  01-11-2023
3  rr_301000004  or_31006318       late delivery  refund  16-05-2024
4  rr_301000005  or_31007423   defective product  return  10-06-2023

In [31]:
rt_rf.date = pd.to_datetime(rt_rf.date,format='mixed')
rt_rf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rt_id   2000 non-null   object
 1   or_id   2000 non-null   object
 2   reason  2000 non-null   object
 3   status  2000 non-null   object
 4   date    2000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 78.3+ KB

Delivery Table

In [33]:
print(dv.info())
print('delivery null:\n',dv.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dp_id       300 non-null    object
 1   dp_name     300 non-null    object
 2   dp_ratings  280 non-null    float64
dtypes: float64(1), object(2)
memory usage: 9.4+ KB
None
delivery null:
 dp_id          0
dp_name        0
dp_ratings    20
dtype: int64

In [34]:
dv.dp_ratings = dv.dp_ratings.fillna(0)
print('delivery null:\n',dv.isnull().sum())

delivery null:
 dp_id         0
dp_name       0
dp_ratings    0
dtype: int64

Ratings Table

In [36]:
print(rt.info())
print('Ratings null:\n',rt.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   r_id                     10000 non-null  object
 1   or_id                    10000 non-null  object
 2   prod_rating              9978 non-null   float64
 3   delivery_service_rating  9971 non-null   float64
dtypes: float64(2), object(2)
memory usage: 312.6+ KB
None
Ratings null:
 r_id                        0
or_id                       0
prod_rating                22
delivery_service_rating    29
dtype: int64

In [37]:
rt.prod_rating = rt.prod_rating.fillna(0)
rt.delivery_service_rating = rt.delivery_service_rating.fillna(0)
print('Ratings null:\n',rt.isnull().sum())

Ratings null:
 r_id                       0
or_id                      0
prod_rating                0
delivery_service_rating    0
dtype: int64

Transactions Table

In [39]:
print(tra.info())
print('transactions null:\n',tra.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tr_id             10000 non-null  object
 1   or_id             10000 non-null  object
 2   transaction_mode  10000 non-null  object
 3   tran_status       10000 non-null  object
dtypes: object(4)
memory usage: 312.6+ KB
None
transactions null:
 tr_id               0
or_id               0
transaction_mode    0
tran_status         0
dtype: int64

Supplier Table

In [41]:
print(sup.info())
print('suppliers null:\n',sup.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sup_id    30 non-null     object
 1   sup_name  30 non-null     object
dtypes: object(2)
memory usage: 612.0+ bytes
None
suppliers null:
 sup_id      0
sup_name    0
dtype: int64

In [42]:
cu.to_csv('customers_cleaned.csv',index=False)
odr.to_csv('orders_cleaned.csv',index=False)
prd.to_csv('products_cleaned.csv',index=False)
rt_rf.to_csv('returns_refund_cleaned.csv',index=False)
dv.to_csv('delievry_cleaned.csv',index=False)
rt.to_csv('ratings_cleaned.csv',index=False)
tra.to_csv('transactions_cleaned.csv',index=False)
sup.to_csv('supplires_cleaned.csv',index=False)